.event {
    text-align: center;
}

.caption-container {
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  font-size: 12px;
  font-weight: normal;
  padding-bottom: 30px;
}

.caption, .project-title {
  text-transform: uppercase;
}