#brand {
  margin: 2.5% 0 0 5%;
  background: linear-gradient(to bottom, hsla(0, 0%, 10%, 1),  hsla(0, 0%, 0%, 1));
  color: white;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 34px;
  text-align: center;
  padding: 20px 10px 20px 10px;
  position: relative;
  float: left;
  -webkit-box-shadow: 1px 3px 2px rgba(0,0,0,0.2);
     -moz-box-shadow: 1px 3px 2px rgba(0,0,0,0.2);
          box-shadow: 1px 3px 2px rgba(0,0,0,0.2);
  cursor: pointer;
}

section {
  padding-top: 10%;
}

/* introduction page */
#intro {
  
}

#intro .col-1-2 {
  margin-top: 5%;
}

.img-circle {
  border-radius: 50%;
  box-shadow: 0 0 0 5px black;
}

#headshot {
  width: 60%;
  margin: 0 20% 0 20%;
}

#label-container {
  width: 80%;
  padding: 0 10% 0 10%;
  text-align: center;
}

.black-box {
  background: linear-gradient(to bottom, hsla(0, 0%, 10%, 1),  hsla(0, 0%, 0%, 1));
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  -webkit-box-shadow: 1px 3px 2px rgba(0,0,0,0.2);
     -moz-box-shadow: 1px 3px 2px rgba(0,0,0,0.2);
          box-shadow: 1px 3px 2px rgba(0,0,0,0.2);
}

#aboutme {
  width: 90%;
  padding: 0 10% 0 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: justify;
}

.lb {
  color: hsla(209, 65%, 75%, 1);
}
/* projects page styling */
#projects {
  background-color: hsla(209, 65%, 75%, 1);
}

#proj-container {
  width: 90%;
  padding: 0 5% 0 5%;
}

#proj-container div {
  padding: 2% 0 0 0;
  border-bottom:black solid 1px;
}

#proj-container div:last-of-type {
  border-bottom: none;
}

.proj-name {
  padding-top: 4px;
  font-family: 'Raleway', sans-serif;
  color: hsla(209, 65%, 15%, 1);
  color: black;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

#proj-container p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 13.5px;
}

#proj-heading {
  letter-spacing: -3px;
  color: black;
}

#my {
  color: white;
}

#myproj {
  padding-left: 5%;
}

#below {
  cursor: pointer;
}

/* blog page styling */
#blog {
  background-color: hsla(209, 65%, 45%, 1);
}

#blog p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  font-size: 16px;
}

#mission {
  width: 87.5%;
  padding: 1% 5% 1% 7.5%;
}

#preview {
  width: 88%;
  padding: 1% 7% 1% 5%;
}

/* contact/footer page styling */
#contact {
  background-color: hsla(209, 65%, 15%, 1);
}

input, textarea {
  border-radius: 5px;
  border-left: none;
  border-right: none;
  border-top: solid 1px #FFFFFF;
  border-bottom: solid 1px #FFFFFF;
  background-color: transparent;
  width: 80%;
  height: 50px;
  font-size: 16px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

textarea {
  resize: none;
  height: 150px;
}

#submit {
  border-radius: 0px;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
}

#getin {
  color: hsla(209, 65%, 75%, 1);
  letter-spacing: -5px;
  font-weight: 500;
  padding: 0 5% 0 5%;
  text-shadow: 1px 3px 2px rgba(0,0,0,0.4);
}

#touch {
  color: #FFFC73;
  line-height: 55px;
  padding-left: 40%;
  text-shadow: 1px 3px 2px rgba(0,0,0,0.4);
}

#contactme {
  color: white;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #FFFFFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FFFFFF;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FFFFFF;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #FFFFFF;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #FFFFFF;
}

/* different header themes */
.navy .navlogo #brand {
  background: linear-gradient(to bottom, hsla(209, 65%, 20%, 1), hsla(209, 65%, 15%, 1));
}

.navy .navbar ul li a, .navy .navbar ul li span {
  color: hsla(209, 65%, 15%, 1);
}

.white .navlogo #brand {
  background: linear-gradient(to bottom, hsla(0, 0%, 10%, 1),  hsla(0, 0%, 0%, 1));
}

.white .navbar ul li a, .white .navbar ul li span {
  color: #FFFC73;
}

.light .navlogo #brand {
  background: linear-gradient(to bottom, hsla(0, 0%, 10%, 1),  hsla(0, 0%, 0%, 1));
  color: yellow;
}

.light .navbar ul li a, .light .navbar ul li span {
  color: yellow;
}

.navbar ul {
  list-style:none;
  padding:0;
  margin: 0 5% 0 5%;
  width: 90%;
  text-align: center;
}

.brclear {
  clear: both;
  height: 0;
  margin: 0;
  font-size: 1px;
  line-height: 0;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.navbar ul li {
  display:inline-block;
  float: right;
  padding: 5%;
}

.navbar ul li a, .navbar ul li span {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.navbar ul li a:hover, .navbar ul li span:hover {
  cursor: pointer;
}

/* styling for headings, links, etc */
.heading {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 100px;
  text-shadow: 1px 3px 2px rgba(0,0,0,0.2);
}

.heading-small {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 40px;
  text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2);
}

.bold {
  font-weight: 700;
}

.cursive {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}

#ride {
  color: #FFFC73;
  font-weight: 300;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway', sans-serif;
  text-shadow: 1px 3px 2px rgba(0,0,0,0.2);
}

#debuglog {
  padding-left: 2.5%;
}

#blog span {
  color: white;
}

/* media queries for responsive design */
@media (max-width : 960px) {
  .navbar ul li {
    padding: 5% 3% 5% 3%;
  }
  
  .heading {
    font-size: 75px;
  }

  #brand {
    font-size: 28px;
  }

  .proj-name {
    font-size: 20px;
  }
}

@media (max-width : 720px) {
  .fixed {
    position: relative;
  }

  .onepage-wrapper .section {
    height: auto;
  }

  .heading {
    font-size: 65px;
  }

  .heading-small {
    font-size: 25px;
  }

  #brand {
    font-size: 34px;
    float: none;
  }

  .navlogo {
    padding-top: 50px;
    text-align: center;
  }

  .navbar ul li {
    float: none;
  }

  .navbar {
    text-align: center;
  }

  #aboutme {
    padding: 0 5% 0 5%;
  }

  input, textarea {
    width: 100%;
  }

  form, #contactme {
    width: 80%;
    padding: 0 10% 0 10%;
  }

  section {
    padding-top: 0;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .heading {
    font-size: 56px;
  }

  .heading-small {
    font-size: 30px;
  }

  .navbar ul li {
    padding: 5% 2% 5% 2%;
  }

  #brand {
    font-size: 34px;
  }

  .navlogo {
    padding-top: 40px;
    text-align: center;
  }

.navbar ul li a, .navbar ul li span {
    float: none;
    font-size: 13.5px;
  }

  .navbar {
    text-align: center;
  }

  .black-box {
    font-size: 13.5px;
  }

  .proj-name {
    font-size: 18px;
  }

  #aboutme {
    font-size: 12px;
    padding: 0 5% 0 5%;
    text-align: left;
  }

  input, textarea {
    width: 100%;
    font-size: 13.5px;
  }

  form, #contactme {
    width: 80%;
    padding: 0 10% 0 10%;
  }

  section {
    padding-top: 0;
  }

  #proj-container p {
    font-size: 12px;
  }

  #ride {
    font-size: 24px;
  }

  #blog p {
    font-size: 12px;
  }
}