/*A bunch of different styling*/
body
{
	background-image: url("images/city-sketch2.jpg"); 
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}

@font-face {
	font-family: "MyCenturyGothic";
	src: local("Century Gothic"), 
		url("font/GOTHIC.svg#CenturyGothic") format("svg"),
		url("font/GOTHIC.ttf") format("truetype");
}

.navbar.navbar-default.navbar-fixed-top
{
	background: transparent;
	width: 100%;
	border-bottom: none;
	box-shadow: none;
}

.navbar-default.navbar-fixed-top div.container-fluid div.collapse.navbar-collapse
{
	border-bottom: none;
	border-top: none;
	box-shadow: none;
} 

.nav.navbar-nav li a,
.navbar-default .navbar-brand
{
	font-family:"MyCenturyGothic";
    font-size:24px;
    color: white;
    text-shadow: -1px -1px 0px gray,
    1px -1px 0px gray,
    -1px 1px 0px gray,
    1px 1px 0px gray;
}

.nav.navbar-nav li a:link,
.nav.navbar-nav li a:hover,
.nav.navbar-nav li a:visited,
.navbar-header .navbar-brand:link,
.navbar-header .navbar-brand:hover,
.navbar-header .navbar-brand:visited
{
	background-color: transparent;
	color: white;
}

p
{
	font-size:20px;
	font-family:"MyCenturyGothic";
	text-align: justify;
	color: white;
}

.row {
	margin-left: 5%;
	margin-right: 5%;
}

#connect, #goodbye, .box p
{
	text-align: center;
	font-family: "MyCenturyGothic";
	color: white;
}

.title {
	font-size: 72px;
	text-align: center;
	color: rgb(137, 171, 224);
}

html, body, #wrapper, #titlepage, #content, #projects, .wholepage {
	height:100%;
	min-height: 100%;
	width:100%;
}

#projects {
	height:auto;
}

#wrapper, .wholepage {
	position:relative;
}

#titlepage .wholepage img {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
}

#content, #projects, #resume
{
	width: 100%;
	background-image: url("images/graph-tile.png");
	padding-left:5%;
	padding-right:5%;
	padding-top:3%;
	padding-bottom:0px;
}

#footer 
{
	padding-top: 1px;
	width:100%;
	height:auto;
	bottom:0;
	left:0;
	background-color: rgba(0,0,0,0.75);
	position: relative;
}

.links {
	width: 40%;
	top: 75%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
}

.hide {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}

.proj-bubble {
	border: 10px solid;
}

.hoverActive {

}

@media only screen and (max-width: 768px) {
	.title {
		font-size:48px;
	}
	
	.links {
		width:60%;
	}

	p {
		font-size:16px;
	}

	.row {
		margin-left: 0;
		margin-right: 0;
	}

	#content.container-fluid, #projects.container-fluid {
		padding-right: 0;
		padding-left: 0;
	}

	#content, #projects {
		padding-left: 0;
		padding-right: 0;
		padding-top: 20%;
	}
}

@media only screen and (max-width: 320px) {
	p {
		font-size: 15px;
	}

	#goodbye {
		font-size: 18px;
	}

	#connect {
		font-size: 16px;
	}

	#footer div a img {
		width: 20%; 
	}

	.nav.navbar-nav li a,
	.navbar-default .navbar-brand
	{
	    font-size:16px;
	    padding-top: 7px;
	    padding-bottom: 7px;
	}

	#content {
		min-height: 0;
	}

	.navbar {
		min-height: 0;
	}

	nav.navbar .navbar-default .navbar-fixed-top, 
	.navbar-default a.navbar-brand,
	.navbar-header {
		height: 30px !important;
		min-height: 20px !important;
		margin-bottom: 0px;
	}

	#content, #projects {
		padding-top: 10%;
	}
}