/*A bunch of different styling*/
body
{
	background-image: url("images/B2.jpg"); 
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.navbar.navbar-fixed-top
{
	background-color:rgba(0,0,0,0.5);
}

.nav.navbar-nav li a,
.navbar-brand
{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	font-family:"Century Gothic";
    font-size:20px;
    color:white;
}

.nav.navbar-nav li a:link,
.nav.navbar-nav li a:hover,
.navbar-brand:link,
.navbar-brand:hover
{
	background-color: transparent;
	color:white;
}

.navbar-brand
{
	padding-left:150px;
}

.row div p, p, .jumbotron h1
{
	font-size:20px;
	font-family:"Century Gothic";
	text-align: center;
	color:white;
}

h4, .box a
{
	text-align: left;
	font-family: "Century Gothic";
	color:white;
}

html, body, #wrapper, #titlepage, #content, #projects, .wholepage {
	height:100%;
}
/*Sticky footer on the bottom stays at the bottom*/

#wrapper {
	background-color: rgba(0,0,0,0.5);
}

.wholepage {
	position:relative;
}

.wholepage img {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
}
/* #wrapper
{
	background-color: rgba(0,0,0,0.5);
	min-height: 100%;
	position: relative;
} */
/*
#titlepage
{
	margin:0 auto;
	width:100%;
	height:100%;
	position: relative; 
}*/

#content, #projects
{
	background-color: rgba(0,0,0,0.5);
	padding:10px;
	padding-top: 60px;
}

#footer 
{
	width:100%;
	height:100px;
	bottom:0;
	left:0;
	background-color: rgba(0,0,0,0.5)
}

/* #footer .box 
{
	background-color: rgba(0,0,0,0.5)
} */

